<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-light sticky-top" style="background-color: #5f5f5f;">
  <a class="navbar-brand" href="#!">
    <a [routerLink]="'/home'" class="nav-link waves-effect">
      DAL Food Bank
    </a>
  </a>

  <!-- Collapse button -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#basicExampleNav1"
    aria-controls="basicExampleNav1"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Links -->
  <div class="collapse navbar-collapse" id="basicExampleNav1">
    <!-- Right -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a [routerLink]="'/orders'" class="nav-link navbar-link-2 waves-effect">
          <mat-icon>add_shopping_cart</mat-icon>
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="'/orders'" class="nav-link waves-effect">
          My Orders
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="'/home'" class="nav-link waves-effect">
          Contact Us
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="'/home'" class="nav-link waves-effect">
          My Profile
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="'/login'" *ngIf="!userIsAuthenticated" class="nav-link waves-effect">
          Sign in
        </a>
      </li>
      <li class="item button">
        <a *ngIf="userIsAuthenticated" (click)="logout()" [routerLink]="'/login'" class="nav-link waves-effect"
          >Log out</a
        >
      </li>
      <li class="nav-item pl-2 mb-2 mb-md-0">
        <a
          [routerLink]="'/home'"
          type="button"
          class="btn btn-outline-info btn-md btn-rounded btn-navbar waves-effect waves-light"
          >Sign up</a
        >
      </li>
    </ul>
  </div>
  <!-- Links -->
</nav>

<router-outlet></router-outlet>

<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Get Notified for Events</h5>
        <form class="input-group">
          <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Your email"
            aria-label="Your email"
            aria-describedby="basic-addon2"
          />
        </form>
        <br />
        <a class="btn btn-danger btn-rounded" href="#">NOTIFY ME</a>
      </div>
      <div class="col-sm-6 col-lg-3">
        <h4 class="footer__title">Contacts</h4>
        <div class="footer-contacts">
          <p class="footer-contacts__address">6136 University Ave, <br />PO Box 15000, <br />Halifax NS B3H 4R2</p>
          <p class="footer-contacts__phone">Phone: <a href="tel:(902) 494‑2140">(902) 494‑2140</a></p>
          <p class="footer-contacts__mail">Email: <a href="mailto:dsufoodbank@dal.ca">dsufoodbank@dal.ca</a></p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <h5 class="footer__title">Links</h5>
        <!-- footer nav start-->
        <nav>
          <ul class="footer-menu" style="list-style-type: none;">
            <li class="footer-menu__item"><a class="footer-menu__link" [routerLink]="'/home'">Home</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" [routerLink]="'/home'">Products</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" [routerLink]="'/home'">About</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" [routerLink]="'/home'">Contacts</a></li>
          </ul>
        </nav>
        <!-- footer nav end-->
      </div>
      <div class="col-sm-6 col-lg-3">
        <h4 class="footer__title">Donate</h4>
        <p>Help Us by donating to feed more community members</p>
        <a class="btn btn-danger btn-rounded" href="#">Donate</a>
      </div>
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <hr />

  <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center py-2">
    <li class="list-inline-item">
      <h5 class="mb-1">Register for free</h5>
    </li>
    <li class="list-inline-item">
      <a [routerLink]="'/home'" class="btn btn-danger btn-rounded">Sign up!</a>
    </li>
  </ul>
  <!-- Call to action -->

  <hr />

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a href="https://www.facebook.com/dsufoodbank/" class="btn-floating btn-fb mx-1">
        <fa-icon [icon]="fb"></fa-icon>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://twitter.com/dsufoodbank" class="btn-floating btn-tw mx-1">
        <fa-icon [icon]="tw"></fa-icon>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://www.instagram.com/dalstudentunion/?hl=en" class="btn-floating btn-gplus mx-1">
        <fa-icon [icon]="inst"></fa-icon>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1">
        <i class="fab fa-linkedin-in"> </i>
      </a>
    </li>
  </ul>
  <!-- Social buttons -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2020 Copyright:
    <a class="footer-privacy__link" href="#">Privacy Policy</a>
    <span class="footer-privacy__divider">|</span>
    <a class="footer-privacy__link" href="#">Term and Conditions</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
